[submodule "KernelBench"]
	path = KernelBench
	url = https://github.com/ScalingIntelligence/KernelBench
[submodule "MimIR"]
	path = MimIR
	url = https://github.com/hsqStephenZhang/MimIR.git
	branch = feat/torch-plugin
